





section article {
    background-color: rgb(86, 200, 206);
    width: 200px;
    height: 100px;
}

section article h1 {
    padding: 10px 10px 10px 10px;
}

.langingbg {
    background: url(https://img.freepik.com/free-photo/barber-tools-wallpaper-pattern-wooden-background-job-career-concept_53876-143260.jpg?w=2000);
}

.logo {
    justify-content: center;
    display: flex;
    align-items: center;

    height: 600px;
    width: 100%;
}



.lorelanding {
    display: flex;
    justify-content: center;
}






