//paleta de colores
$colorfondo: #322F2F;
//boton de las cards
$botones: (
fondo: darkorange,
relleno: 5px 10px,
bordesRedondeados: 5px,
bordeLineas: none,
borde: none,
cursor: pointer,
margenIzquierdo: 2rem,
);
